**Data_Structure_Assignment**

Theory Questions

1. What are data structures, and why are they important?
  -  Data structures organize and store data efficiently, enabling easy access and modification.
2. Explain the difference between mutable and immutable data types with examples?
  -  Mutable can change (e.g., list), immutable cannot (e.g., tuple, str)
3. What are the main differences between lists and tuples in Python?
  -  Lists are mutable and slower; tuples are immutable and faster.
4. Describe how dictionaries store data?
  -  As key-value pairs using a hash table.
5. Why might you use a set instead of a list in Python?
  -  Sets eliminate duplicates and offer faster membership testing.
6. What is a string in Python, and how is it different from a list?
  - String is an immutable sequence of characters and is of one datatype while a list is mutable and can hold various data types.
7. How do tuples ensure data integrity in Python?
  -  Their immutability prevents accidental changes.
8. What is a hash table, and how does it relate to dictionaries in Python?
  -  A hash table maps keys to values using hash function;
  - Python dictionaries use this internally.
9. Can lists contain different data types in Python?
  -  Yes
10. Explain why strings are immutable in Python?
  -  To ensure data consistency and allow for internal optimizations like string interning.
11. What advantages do dictionaries offer over lists for certain tasks?
  -  Faster lookups using keys and clearer data organization.
12. Describe a scenario where using a tuple would be preferable over a list?
  -  When storing fixed configuration data or as dictionary keys.
13. How do sets handle duplicate values in Python?
  -  Sets automatically remove duplicates.
14. How does the “in” keyword work differently for lists and dictionaries?
  -  In lists, it checks for values; in dictionaries, it checks for keys.
15. Can you modify the elements of a tuple? Explain why or why not?
  -  No
  - Tuples are immutable, meaning their contents can’t be changed.
16. What is a nested dictionary, and give an example of its use case?
  -  A dictionary inside another; useful for representing hierarchical data like user profiles.
17. Describe the time complexity of accessing elements in a dictionary?
  -  Average time complexity is O(1), constant time.
18. In what situations are lists preferred over dictionaries?
  -  When order matters and data doesn’t require key-value mapping.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  -  Prior to Python 3.7, insertion order is not maintained; now they do, but key-based access remains primary.
20. Explain the difference between a list and a dictionary in terms of data retrieval?
  -  Lists use index-based access; dictionaries use key-based access, which is faster for lookups.

**Practical Questions**

1. Create a string with your name and print it?

In [2]:
name = "Aman Ullah"
print(name)

Aman Ullah

2. Find the length of the string "Hello World"?

In [3]:
print(len("Hello World"))

11

3. Slice the first 3 characters from "Python Programming"?

In [4]:
print("Python Programming"[:3])

Pyt

4. Convert "hello" to uppercase?

In [5]:
print("hello".upper())

HELLO

5. Replace "apple" with "orange" in the string "I like apple"P?

In [6]:
print("I like apple".replace("apple", "orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it

In [7]:
n = [1, 2, 3, 4, 5]
print(n)

[1, 2, 3, 4, 5]

7. Append 10 to list [1, 2, 3, 4]?

In [8]:
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

8. Remove number 3 from list [1, 2, 3, 4, 5]

In [9]:
a = [1, 2, 3, 4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

9. Access second element in ['a', 'b', 'c', 'd']

In [10]:
a = ['a', 'b', 'c', 'd']
print(a[1])

b

10. Reverse list [10, 20, 30, 40, 50]

In [12]:
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

11. Create tuple (100, 200, 300) and print

In [13]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [16]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[1:])

('green', 'blue', 'yellow')

13. Find minimum number in tuple (10, 20, 5, 15)?

In [17]:
print(min((10, 20, 5, 15)))

5

14. Find index of "cat" in a tuple?

In [18]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Create a tuple containing three different fruits and check if "kiwi" is in it?

In [19]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16. Create set {'a', 'b', 'c'} and print?

In [20]:
set1 = {'a', 'b', 'c'}
print(set1) #Set will print random and unique

{'c', 'b', 'a'}

17. Clear all elements from {1, 2, 3, 4, 5}

In [21]:
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

18. Remove element 4 from {1, 2, 3, 4}?

In [22]:
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

19. Find union of {1, 2, 3} and {3, 4, 5}?

In [23]:
set4 = {1, 2, 3}.union({3, 4, 5})
print(set4) #Set will print random and unique

{1, 2, 3, 4, 5}

20. Find intersection of {1, 2, 3} and {2, 3, 4}?

In [25]:
set5 = {1, 2, 3}.intersection({2, 3, 4})
print(set5)

{2, 3}

21. Create dictionary with keys "name", "age", "city"?

In [27]:
d1 = {"name": "John", "age": 25, "city": "Allahabad"}
print(d1)

{'name': 'John', 'age': 25, 'city': 'Allahabad'}

22. Add a new key-value pair "country": "USA" to the dictionary?

In [28]:
d2 = {"name": "John", "age": 25, "city": "Allahabad"}
d2['country']="USA"
print(d2)

{'name': 'John', 'age': 25, 'city': 'Allahabad', 'country': 'USA'}

23. Access the value associated with the key "name" in the dictionary?

In [30]:
d3 = {'name': 'Alice', 'age': 30}
print(d3['name'])

Alice

24. Remove "age" from dict?

In [33]:
d4 = {'name': 'John', 'age': 25, 'city': 'Allahabad', 'country': 'USA'}
d4.pop("age")
print(d4)

{'name': 'John', 'city': 'Allahabad', 'country': 'USA'}

25. Check if Key "city" exists in dict?

In [46]:
d5 = {'name': 'Alice', 'city': 'Paris', 'country': 'USA'}
print("city" in d5)

True

26. Create list, tuple, dictionary and print all?

In [35]:
lst1 = [1, 2, 3]
tup2 = (4, 5, 6)
dct3 = {"a": 1, "b": 2}
print(lst1, tup2, dct3)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?

In [37]:
import random
no = random.sample(range(1, 101), 5)
no.sort()
print(no)

[13, 39, 63, 93, 97]

28. create a list with strings and print the element at the third index?

In [38]:
fruits = ["apple", "banana", "cherry", "date", "fig"]
print(fruits[3])

date

29. Combine two dictionaries into one and print the result?

In [44]:
dict1 = {'a': 1}
dict2 = {'b': 2}
dict3 = (dict1, dict2)
print(dict3)

({'a': 1}, {'b': 2})

30. Convert a list of strings into a set?

In [45]:
str_list = ["apple", "banana", "apple"]
str_set = set(str_list)
print(str_set)

{'apple', 'banana'}